body {
font-family: "Times New Roman", serif;
background: #ffffff;
margin: 0;
}


.report-container {
width: 800px;
margin: 40px auto;
padding: 40px;
border: 1px solid #000;
}


.title {
text-align: center;
margin-bottom: 30px;
}


.details p {
margin: 6px 0;
}


h2 {
margin-top: 25px;
text-decoration: underline;
}


p {
text-align: justify;
line-height: 1.6;
}


ul {
margin-left: 20px;
line-height: 1.6;
}


.signatures {
margin-top: 60px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
}


.sign-box {
text-align: center;
}


.line {
margin: 40px auto 10px;
width: 200px;
border-bottom: 1px solid #000;
}


@media print {
body { margin: 0; }
.report-container { border: none; width: 100%; margin: 0; }
}